# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
#import and setup
import numpy as np
import pandas as pd

#file to load
school_data_info = "Resources/schools_complete.csv"
student_data_info = "Resources/students_complete.csv"

#read school and student data file to store into Pandas DataFrames
school_data = pd.read_csv(school_data_info)
student_data = pd.read_csv(student_data_info)

#combining the data into single data set
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [5]:
#calculate the total for school and students
school_total = len(school_data_complete["school_name"].unique())
student_total = school_data_complete["Student ID"].count()

#calculate total budget
total_budget = school_data['budget'].sum()

#calculating the average scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()
overall_passing_rate = (average_math_score+average_reading_score)/2

#calculating the percentage pass rates
passing_math_count = school_data_complete[(school_data_complete["math_score"] > 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] > 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

#clean up the data
district_summary = pd.DataFrame({"Total Schools": [school_total],
                                "Total Students": [student_total],
                                "Total Budget": [total_budget],
                                "Average Math Score": [average_math_score],
                                "Average Reading Score": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                "% Passing Reading": [passing_reading_percentage],
                                "% Overall Passing Rate": [overall_passing_rate]})

district_summary = district_summary[["Total Schools", "Total Students", "Total Budget",
                                    "Average Math Score", "Average Reading Score", "% Passing Math",
                                    "% Passing Reading", "% Overall Passing Rate"]]

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

#show DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.392137,82.971662,80.431606

# School Summary

In [8]:
#school type
name_type = school_data.set_index(["school_name"])["type"]

#calculating student count total
school_count_total = school_data_complete["school_name"].value_counts()

#calculating the total school budget and spending per capita
school_total_budget = school_data_complete.groupby(["school name"]).mean()["budget"]
school_capita_sp = school_total_budget / school_count_total

#calculating avg test scores
indv_school_math = school_data_complete.groupby(("school_name")).mean()["math_score"]
indv_school_reading = school_data_complete.groupby(("school_name")).mean()["reading_score"]

#calculating scores that are passing math and reading
score_pass_math = school_data_complete[(school_data_complete["math_score"] > 70)]
score_pass_reading = school_data_complete[(school_data_complete["reading_score"] > 70)]

math_percentage = score_pass_math.groupby(["school_name"]).count()["student_name"] / school_count_total * 100
reading_percentage = score_pass_reading.groupby(["school_name"]).count()["student_name"] / school_count_total * 100
pass_rate = (score_pass_math + score_pass_reading) / 2

#change to a DataFrame
school_synopsis = pd.DataFrame({"School Type": name_type, "Total Students": school_count_total,
                               "Total School Budget": school_total_budget,
                               "Per Student Budget": school_capita_sp,
                               "Average Math Score": indv_school_math,
                               "Average Reading Score": indv_school_reading,
                               "% Passing Math": math_percentage, "% Passing Reading": reading_percentage,
                               "% Overall Passing Rate": pass_rate})

#composition
school_synopsis = school_synopsis(["School Type", "Total Students", "Total School Budget", "Per Student Budget",
                                  "Average Math Score", "Average Reading Score", "% Passing Math",
                                  "% Passing Reading", "% Overall Passing Rate"])

school_synopsis["Total School Budget"] = school_synopsis["Total School Budget"].map("${:,.2f}".format)
school_synopsis["Per Student Budget"] = school_synopsis["Per Student Budget"].map("${:,.2f}".format)

#show entire DataFrame
school_synopsis

KeyError: 'school name'